<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head'); %>
</head>

<body lang="en">
  <div id="upper_left" class="svg mt-4"></div>
  <div id="upper_right" class="svg mt-4"></div>
  <!-- <div id="lower_left"></div> -->
  <!-- <div id="lower_right" class="svg"></div>-->
  <%- include('partials/navbar'); %>
  <div class="container">
    <div class="jumbotron py-3">
      <h1 class="display-4 text-center sm:text-left anima" id="app"></h1>
      <p class="text-center sm:text-left">Welcome to <%= title %></p>
    </div>
    <div id="delimitations-map" ></div>

    <div class="search d-flex py-4">
      <div class="mx-auto mx-lg-0">
        <label class="text-centermb-1 sm:mb-0" for="qsearch">Highlight listings</label>
        <input type="qsearch" name="qsearch" placeholder="Today listings" required>  
      </div>
    </div>
    <br>
    <div class="row align-items-stretch">
      <% for (var i=0; listings.length> 0 && i < listings.length && i < 100 ; i++) { %>
        <div class="col-sm col-md-6 col-xl-4">
          <div class="h-100 pb-3 <%= listings[i].section %>" id="<%= listings[i]._id %>">
            <div class="card mb-3 h-100">
              <div class="card-body">
                <h5 class="card-title" dir="auto"><a href='/listings/id/<%= listings[i]._id %>/'><%= listings[i].title.charAt(0).toUpperCase() + listings[i].title.slice(1) %></a></h5> 
                <p class="card-text text-truncate mb-1" dir="auto"><%- listings[i].desc %></p>
                <code style="font-size:0.75rem"><%= new Date(parseInt(listings[i]._id.toString().substring(0, 8), 16) * 1000).toISOString().slice(0,10) %></code><br>
                <% for (var j=0; listings[i].tags && listings[i].tags.length > 0 && j < listings[i].tags.length ; j++) { %>
                  <a href="/tag/<%- listings[i].tags[j] %>"><span class="badge bg-secondary"><%- listings[i].tags[j] %></span></a>
                <% } %>
              </div>
            </div>
          </div>    
        </div>
      <% } %>
    </div>
    <%- include('partials/pagination'); %>
    <%- include('partials/footer'); %>
  </div>
  
</body>
<%- include('partials/afterbody'); %>

</html>